/*IBM PLEX SANS e JETBRAINS MONO*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #EBF3F3;
    font-family: "IBM Plex Sans", sans-serif;
}

/*Cabeçalho*/

.header{
    height:80px;
    width:100%;
    background-color:rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content:space-around;
    
} 

.img-logo-cabecalho{
    height:35px;
    width:110px;
    margin-left: -30px;
}

.options{
    display:flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
}

.option-text{
    padding:10px;
}

.option-button{
    background: none;
    border:transparent;
    transition: all 0.2s ease-in-out;
}
.option-button:hover{
    border-bottom:2px solid #BC6D0A;
    
}

.img-user{
    height: 30px;
    width: 50px;
}

/*Fim Do Cabeçalho*/

/*Pagina O que Fazemos*/

.NOS{
    margin:0;
    padding:0;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.div-text-nos{
    width: 80%;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.text-nos{
    margin:0;
    padding:0;
    font-size: 70px;
    margin-left: 6%;
    font-weight: 400;
}

.info{
    width: 80%;
    height: 50px;
    margin: 20px;
}

.text-info{
    height: 40px;
    width: 80%;
    margin-left: 6%;

}
.cards-info{
    height: 320px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.div-cards{
    height: 320px;
    width: 310px;
    border:transparent;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
}

.text-card{
    width: 100%;
    height:240px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    margin-top: 50px;
    height:200px;
    width: 75%;
    text-align: center;
    font-size: 18px;
}

.desc-card{
    height: 80px;
    width: 100%;
    background-color: #14213D;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.desc{
    width: 50%;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

/*Fim da pagina O que fazemos*/

/*Pagina Equipes*/

.EQUIPES{
    height: 600px;
    width: 100%;
    background-color: #BAB7AF;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: 0.2s all ease-in-out;
}

.EQUIPES-ACTIVE{
    height: 900px;
    width: 100%;
    background-color: #BAB7AF;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: 0.2s all ease-in-out;
}


.div-text-equipes{
    height: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 30px;
}

.text-equipes{
    font-size:70px ;
    font-weight: 400;
    margin-right: 6%;

}

.div-equipes{
    height: 350px;
    width: 80%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    transition: 0.2s all ease-in-out;
}

.div-equipes-active{
    height: 650px;
    width: 80%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    transition: 0.2s all ease-in-out;
}


.equipe{
    height: 60px;
    width: 88%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: 0.2s all ease-in-out ;
}


.equipe:hover{
    background-color: rgb(29, 29, 29);
}

.equipe-active{
    height: 350px;
    width: 88%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: 0.2s all ease-in-out ;
    box-shadow: 0px 0px 10px black;
}

.info-equipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 5px;
}

.text-equipe{
    font-size:15px;
    font-weight: 400;
    color:white;
}

.div-membros{
    display:none;
    transition: 0.2s all ease-in-out;
}

.div-membros-active{
    height:300px;
    width: 90%;
    background-color: antiquewhite;
}

/*Fim da pagina Equipes*/

/*Pagina Publicações*/

.PUBLICACOES{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.div-text-publicacoes{
    height: 90px;
    width: 80%;
    margin-top: 30px;
}

.text-publicacoes{
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    margin-left: 6%;
}

.div-publicacoes{
    height: 430px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    gap: 3%;
}

.div-publi{
    height: 400px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicacao{
    height: 390px;
    width: 300px;
    background-color: #BAB7AF;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out
}

.publicacao:hover{
    height: 392px;
    width: 302px;
    box-shadow:0px 0px 5px black
}

.tipo-publi{
    width: 100%;
    height: 30px;
    margin-top: 10px ;
}

.text-tipo{
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: #14213D;   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px;
    
}

.titulo-publi{
    width: 100%;
    height: 80px;
    margin-top:10px ;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    
}

.localizacao-publi{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 10px;
}

.lugar-publi{
    height: 20px;
    width: 50%;
    background-color: #14213D;
    border-radius: 5px;
    margin: 0;
    margin-left: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ano-publi{
    height: 20px;
    width: 20%;
    background-color: #14213D;
    border-radius: 5px;
    margin: 0;
    margin-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-publi{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top:10px ;
    font-size: 16px;
}


/*Fim da pagina Publicações*/

/*Pagina Instalação*/

.INSTALACAO{
    height: 600px;
    width: 100%;
    background-color: #BAB7AF;
}

/*Fim da pagina Instalação*/

/*Pagina Institucional*/

.INSTITUCIONAL{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}

.div-text-institucional{
    height: 100px;
    width: 80%;
    margin-top: 40px;

}
.text-institucional{
    font-weight: 400;
    font-size: 70px; 
    margin: 0;
    margin-left: 6%;
}

.div-institucional{
    height: 400px;
    width: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:row;
    gap: 5%;
}

.section-institucional{
    height: 400px;
    width: 220px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img-institucional{
    height: 70px;
    width: 70px;
}

.text-titulo{
    font-size: 18px;
    margin-bottom: -5px;
    font-weight: 500;
}

.text-descricao{
    font-size: 18px;
}

.button-ver-mais{
    font-size: 15px;
    background: none;
    border: transparent;
    transition: all 0.2s ease;

}
.button-ver-mais:hover{
    border-bottom: 2px solid #BC6D0A;
}


/*Fim da pagina Institucional*/

/*Rodapé*/

.footer{
    height:180px;
    width: 100%;
    background-color: #BAB7AF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo-instituto{
    height: 70px;
    width: 270px;
}

.div-localizacao{
    height: 140px;
    width: 250px;   
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-endereco{
    font-size: 20px;
    font-weight: 500;
    margin-bottom:-7px;
}

.div-comunicacao{
    height: 140px;
    width: 200px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
}

.text-contato{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 20px;
}

.logo-redes{
    height: 30px;
    width: 30px;
}

.div-redes{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.div-laboratorio{
    height: 100px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.img-logo-rodape{
    height:35px;
    width:110px;
    margin-bottom: 20px;
}



