/*Ibm Plex Sans e JetBrains Mono*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group-navigations{
    height: 50px;
    width: 75%;
    display: flex;
    margin-left: 40px ;
    align-items: center;
    gap: 20px;
    font-family: "JetBrains Mono", monospace;
}

.button-operations-members{
    height: 30px;
    width: 110px;
    background-color:white;
    border: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition:all 0.2s ease-in;
}

.button-operations-members:hover{
    background-color: #14213D;
    color: white;
}

.button-operations-publications{
    height: 30px;
    width: 150px;
    background-color: white;
    display: flex;
    border: transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: transparent;
    font-size: 18px;
    transition: all 0.2s ease-in;
}

.button-operations-publications:hover{
    background-color: #14213D;
    color: white;
}

.group-operations{
    height: 700px;
    width: 75%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.text-load{
    margin-top: 20px;
}

.titles{
    height: 60px;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:-20pxs
}

.title{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 80%;
    color: black;
    font-size: 35px;
    font-weight: 500;
}

.subtitle{
    margin: 0;
}

/*Area inputs*/

.group-input-0{
    height: 90px;
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color:#4b4b4b
}

.group-input-1{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.group-input-2{
    margin-top: 30px;
    height: 290px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 18px;
    gap: 2%;
}

.group-input-3{
    height: 90px;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-input-4{
    height: 400px;
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.group-local{
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-year{
    width: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: #f4fafd;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}

.textarea-title{
    padding: 10px;
    height: 70px;
    width: 100%;
    background-color: #f4fafd;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}

.textarea-text{
    padding: 10px;
    height: 253px;
    width: 100%;
    background-color: #f4fafd;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}

/*Area membros*/

.group-member{
    height: 650px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.invit-member{
    height: 560px;
    width: 38%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "IBM Plex Sans", sans-serif;
}

.button-invit-member{
    margin-top: 30px;
    height: 60px;
    width: 80%;
    background-color: #14213D;
    border-radius: 5px;
    border: 0;
    color: white;
}

.list-members{
    
    padding-bottom: 30px;
    height: 550px;
    width: 58%;
    display: flex;
    background-color: #f4fafd;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    font-family: "JetBrains Mono", monospace;   
}

/*Blur de edição*/

.blur-active{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0 ,0 , 0.5);
}

/*Card dos membros*/

.member{
    margin-top:20px;
    height: 80px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    flex-shrink: 0;
    will-change: transform;
}

.member-infos{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-left:3% ;
}

.member-buttons{
    margin-right: 3%;
}

/*Area Publicações*/

.group-publications{
    height: 700px;
    width: 85%;
    display: none;
    justify-content: space-around;
    align-items: center;
    color:#4b4b4b
}

.invit-publication{
    padding-top:20px;
    height: 630px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.button-invit-publication{
    margin-top: 30px;
    height: 60px;
    width: 40%;
    background-color: #14213D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.div-navigate{
    height: 30px;
    width: 30px;
}

.button-left{
    height: 30px;
    width: 30px;
    display: none;
}

.button-right{
    height: 30px;
    width: 30px;
    display: flex;
}

.list-publications{
    padding-top:20px ;
    height: 630px;
    width: 90%;
    display: none;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    overflow-y: auto;
}

/*Card da publicação*/

.div-publi{
    height: 400px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

.publicacao{
    height: 390px;
    width: 300px;
    background-color: #BAB7AF;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out
}

.publicacao:hover{
    height: 392px;
    width: 302px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.tipo-publi{
    width: 100%;
    height: 30px;
    margin-top: 10px ;
}

.text-tipo{
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: #14213D;   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px;
    
}

.titulo-publi{
    width: 100%;
    height: 80px;
    margin-top:10px ;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    
}

.localizacao-publi{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 10px;
}

.lugar-publi{
    height: 20px;
    width: 50%;
    background-color: #14213D;
    border-radius: 5px;
    margin: 0;
    margin-left: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ano-publi{
    height: 20px;
    width: 20%;
    background-color: #14213D;
    border-radius: 5px;
    margin: 0;
    margin-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-publi{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top:10px ;
    font-size: 16px;
}